@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  word-spacing: 1px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}
@layer base {
  :root {
    --background: 240 100% 99%; /* Light Background */
    --foreground: 240 100% 10%; /* Dark Foreground */

    --card: 240 100% 98%; /* Slightly Off-White for Cards */
    --card-foreground: 240 100% 12%;

    --popover: 240 100% 98%;
    --popover-foreground: 240 100% 12%;

    --primary: 226 82% 56%; /* Digital Dusk #0D98D6 */
    --primary-foreground: 0 0% 100%; /* White for Text on Primary */

    --secondary: 248 76% 62%; /* Tech Orchid #4F46E5 */
    --secondary-foreground: 0 0% 100%;

    --muted: 230 15% 92%; /* Soft Muted Gray */
    --muted-foreground: 230 20% 40%; /* Medium Gray Text */

    --accent: 270 75% 70%; /* Lilac Mist #A855F7 */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%; /* Keep Red for Errors */
    --destructive-foreground: 0 0% 98%;

    --border: 230 15% 80%; /* Soft Border */
    --input: 230 15% 80%; /* Matches Border */
    --ring: 248 76% 62%; /* Tech Orchid Ring Effect */

    --radius: 0.5rem;

    /* Gradient Colors */
    --color-1: 226 82% 56%; /* Digital Dusk */
    --color-2: 248 76% 62%; /* Tech Orchid */
    --color-3: 270 75% 70%; /* Lilac Mist */
    --color-4: 210 80% 50%; /* Midnight Muse */
    --color-5: 195 85% 60%; /* Fresh Sky Blue */
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
}

.glass-effect {
  background: rgba(0, 0, 0, 0.2);
  background: repeating-radial-gradient(
    circle at 50% 50%,
    rgb(255 255 255 / 0),
    rgba(255, 255, 255, 0.2) 10px,
    rgb(255 255 255) 31px
  );
  filter: url(#fractal-noise-glass);
  background-size: 6px 6px;
  backdrop-filter: blur(0px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-text-gradient {
    animation: text-gradient 8s linear infinite;
  }

  @keyframes text-gradient {
    to {
      background-position: 200% center;
    }
  }
}
